<!doctype html>
<html>
  <head>
    <title>Request Binge</title>
  </head>
  <body>
    <nav>
      <a href="/">RequestBinge</a>
    </nav>

    <h1>Your Bin</h1>
    <p>Created at: {{created_at}}</p>

    <hr>

    <h2>Requests</h2>

    <ul>
      <li>
        <ul>
          {{#each requests}}
          <li>HTTP Method: {{this.request_method}} </li>
          <li>From: {{this.ip_address}}</li>
          <li>Received at: {{this.received_at}}</li>
          {{/each}}
          <li>
             Headers:
            <ul>
              {{#each headers}}
              <li>{{@key}}: {{this}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </body>
</html>
